<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>osirix</key>
	<array>
		<string>endRuntimeLoop</string>
		<string>startRuntimeLoop</string>
		<string>copyFilesIntoDatabaseIfNeeded</string>
		<string>databaseSelection</string>
		<string>viewer2D</string>
		<string>style</string>
		<string>renderingMode</string>
		<string>noFilesExcludingMultiFrames</string>
		<string>rawNoFiles</string>
		<string>noFiles</string>
		<string>imageSeries</string>
		<string>modalities</string>
		<string>studyName</string>
		<string>studyInstanceUID</string>
		<string>referringPhysician</string>
		<string>performingPhysician</string>
		<string>patientSex</string>
		<string>patientUID</string>
		<string>patientID</string>
		<string>institutionName</string>
		<string>dateOfBirth</string>
		<string>dateAdded</string>
		<string>sortedImages</string>
		<string>uniqueFilenames</string>
		<string>nextSeries</string>
		<string>previousSeries</string>
		<string>modality</string>
		<string>paths</string>
		<string>seriesDescription</string>
		<string>seriesSOPClassUID</string>
		<string>seriesInstanceUID</string>
		<string>numberOfImages</string>
		<string>images</string>
		<string>study</string>
		<string>completePath</string>
		<string>sopInstanceUID</string>
		<string>width</string>
		<string>height</string>
		<string>instanceNumber</string>
		<string>sliceLocation</string>
		<string>roiArea</string>
		<string>modality</string>
		<string>series</string>
		<string>numberOfFrames</string>
		<string>date</string>
		<string>flipHorizontally</string>
		<string>flipVertically</string>
		<string>rotate</string>
		<string>roiMove</string>
		<string>centroid</string>
		<string>points</string>
		<string>pix</string>
		<string>thickness</string>
		<string>name</string>
		<string>color</string>
		<string>opacity</string>
		<string>type</string>
		<string>studyObj</string>
		<string>seriesObj</string>
		<string>imageObj</string>
		<string>convertToBW</string>
		<string>convertToRGB</string>
		<string>getMapFromROI</string>
		<string>getROIValues</string>
		<string>computeROI</string>
		<string>location</string>
		<string>sourceFile</string>
		<string>orientation</string>
		<string>isRGB</string>
		<string>origin</string>
		<string>pixelSpacing</string>
		<string>image</string>
		<string>shape</string>
		<string>incrementBy</string>
		<string>floatValue</string>
		<string>maxValue</string>
		<string>VRControllers</string>
		<string>blendingController</string>
		<string>resampleViewerController</string>
		<string>copyViewerWindow</string>
		<string>isDataVolumic</string>
		<string>selectedROIs</string>
		<string>roisWithName</string>
		<string>curDCM</string>
		<string>setROI</string>
		<string>roiList</string>
		<string>needsDisplayUpdate</string>
		<string>endWaitProgressWindow</string>
		<string>startWaitProgressWindow</string>
		<string>pixList</string>
		<string>closeViewer</string>
		<string>maxMovieIndex</string>
		<string>modality</string>
		<string>WLWW</string>
		<string>idx</string>
		<string>movieIdx</string>
		<string>title</string>
		<string>getDisplayedVRControllers</string>
		<string>runAlertPanel</string>
		<string>selectPath</string>
		<string>frontmostVRController</string>
		<string>currentBrowser</string>
		<string>getDisplayed2DViewers</string>
		<string>frontmostViewer</string>
		<string>DIcomSeries</string>
		<string>DicomStudy</string>
		<string>ROI</string>
		<string>DicomImage</string>
		<string>VRController</string>
		<string>ViewerController</string>
		<string>osirix</string>
		<string>DCMPix</string>
	</array>
	<key>exceptions</key>
	<array>
		<string>ArithmeticError</string>
		<string>AssertionError</string>
		<string>AttributeError</string>
		<string>BaseException</string>
		<string>BufferError</string>
		<string>EnvironmentError</string>
		<string>EOFError</string>
		<string>Exception</string>
		<string>FloatingPointError</string>
		<string>GeneratorExit</string>
		<string>ImportError</string>
		<string>IndexError</string>
		<string>IOError</string>
		<string>KeyboardInterrupt</string>
		<string>KeyError</string>
		<string>LookupError</string>
		<string>MemoryError</string>
		<string>NameError</string>
		<string>NotImplementedError</string>
		<string>OSError</string>
		<string>OverflowError</string>
		<string>ReferenceError</string>
		<string>RuntimeError</string>
		<string>StopIteration</string>
		<string>SyntaxError</string>
		<string>IndentationError</string>
		<string>TabError</string>
		<string>SystemError</string>
		<string>SystemExit</string>
		<string>TypeError</string>
		<string>UnboundLocalError</string>
		<string>UnicodeError</string>
		<string>UnicodeEncodeError</string>
		<string>UnicodeDecodeError</string>
		<string>UnicodeTranslateError</string>
		<string>ValueError</string>
		<string>VMSError</string>
		<string>WindowsError</string>
		<string>ZeroDivisionError</string>
		<string>Warning</string>
		<string>UserWarning</string>
		<string>DeprecationWarning</string>
		<string>PendingDeprecationWarning</string>
		<string>SyntaxWarning</string>
		<string>RuntimeWarning</string>
		<string>FutureWarning</string>
		<string>ImportWarning</string>
		<string>UnicodeWarning</string>
	</array>
	<key>constants</key>
	<array>
		<string>False</string>
		<string>True</string>
		<string>None</string>
		<string>NotImplemented</string>
		<string>Ellipsis</string>
		<string>__debug__</string>
	</array>
	<key>functions</key>
	<array>
		<string>abs</string>
		<string>all</string>
		<string>any</string>
		<string>basestring</string>
		<string>bin</string>
		<string>bool</string>
		<string>buffer</string>
		<string>bytearray</string>
		<string>callable</string>
		<string>chr</string>
		<string>classmethod</string>
		<string>cmp</string>
		<string>compile</string>
		<string>complex</string>
		<string>delattr</string>
		<string>dict</string>
		<string>dir</string>
		<string>divmod</string>
		<string>enumerate</string>
		<string>eval</string>
		<string>execfile</string>
		<string>file</string>
		<string>filter</string>
		<string>float</string>
		<string>format</string>
		<string>frozenset</string>
		<string>getattr</string>
		<string>globals</string>
		<string>hasattr</string>
		<string>hash</string>
		<string>help</string>
		<string>hex</string>
		<string>id</string>
		<string>input</string>
		<string>int</string>
		<string>isintance</string>
		<string>issubclass</string>
		<string>iter</string>
		<string>len</string>
		<string>list</string>
		<string>locals</string>
		<string>long</string>
		<string>map</string>
		<string>max</string>
		<string>memoryview</string>
		<string>min</string>
		<string>next</string>
		<string>object</string>
		<string>oct</string>
		<string>open</string>
		<string>ord</string>
		<string>pow</string>
		<string>print</string>
		<string>property</string>
		<string>range</string>
		<string>raw_input</string>
		<string>reduce</string>
		<string>reload</string>
		<string>repr</string>
		<string>reversed</string>
		<string>round</string>
		<string>set</string>
		<string>setattr</string>
		<string>slice</string>
		<string>sorted</string>
		<string>staticmethod</string>
		<string>str</string>
		<string>sum</string>
		<string>super</string>
		<string>tuple</string>
		<string>type</string>
		<string>unichr</string>
		<string>unicode</string>
		<string>vars</string>
		<string>xrange</string>
		<string>zip</string>
		<string>__import__</string>
	</array>
	<key>keywords</key>
	<array>
		<string>and</string>
		<string>as</string>
		<string>assert</string>
		<string>break</string>
		<string>class</string>
		<string>continue</string>
		<string>def</string>
		<string>del</string>
		<string>elif</string>
		<string>else</string>
		<string>except</string>
		<string>exec</string>
		<string>finally</string>
		<string>for</string>
		<string>from</string>
		<string>global</string>
		<string>if</string>
		<string>import</string>
		<string>in</string>
		<string>is</string>
		<string>lambda</string>
		<string>not</string>
		<string>or</string>
		<string>pass</string>
		<string>print</string>
		<string>raise</string>
		<string>return</string>
		<string>try</string>
		<string>while</string>
		<string>with</string>
		<string>yield</string>
	</array>
</dict>
</plist>
